{% extends 'base.html' %}

{% block title %} about {% endblock title %}

{% block body %}


<footer class="ftco-footer ftco-bg-dark ftco-section" style="background-color:rgb(236, 165, 103);">

  <div class="section border-top  my-5">
    <div class="container" style="margin-left: 2rem;">
      <div class="newsletter-section">
        
          <div class="align-centre">
        
  
            <div class="newsletter-section__text my-5">
              
                <h2>Subscribe to our Home &amp; Beyond Newsletter</h2>
              
              
                <div class="rte"><p>Learn about our artisans' world travels, get sneak peaks into our next collection, discover our favorite recipes and craft DIYs, and more!</p></div>
              
              <div id="mailing-list">
      <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />
        
          <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
        <div class="input-row inline-input-button">
            <input type="email" placeholder="Email address" class="required" value="" id="mailinglist_email" name="contact[email]" required />
            <input type="submit" value="Subscribe" />
          </div>
          
          <footer>
            <div class="container my-5">
              <div class="inline-row spaced">
              <div class="inline-item left">
                <!-- <div class="copy" style="margin-left: 40rem;">Copyright &copy; 2022 <a href="#" title=""><b>Vinay ChineseCenter</b></a>.</div> -->
              </div>
            </div>
          </footer>
        
      </form>
  </div>
            </div>
          </div>
  
          
      </div>
    </div>
  </div>
  </div>
  
  
  
  
  
  
  
  
    <div class="container">
      <div class="row mb-8">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2 icon-heart">Vinay ChineseCenter</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Unseful Links</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Servers</a></li>
              <li><a href="#" class="py-2 d-block">Windos Hosting</a></li>
              <li><a href="#" class="py-2 d-block">Cloud Hosting</a></li>
              <li><a href="#" class="py-2 d-block">OS Servers</a></li>
              <li><a href="#" class="py-2 d-block">Linux Servers</a></li>
              <li><a href="#" class="py-2 d-block">Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Navigational</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Home</a></li>
              <li><a href="#" class="py-2 d-block">Domain</a></li>
              <li><a href="#" class="py-2 d-block">Hosting</a></li>
              <li><a href="#" class="py-2 d-block">About</a></li>
              <li><a href="#" class="py-2 d-block">Blog</a></li>
              <li><a href="#" class="py-2 d-block">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Office</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
  
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by Vinay
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>
  
  
  
  <!-- loader
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  
  
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script> -->

{% endblock body %}