{% extends 'base.html' %}

{% block title %} services {% endblock title %}

{% block body %} 

<div class="container my-5">
    <h1 class="my-3 text-center" style="color: orange;">Choose Your favourite Veg and Non-Veg Rice Chineses</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img26.jpg" style="height: 315px;" alt="">
          <div class="card-body">
            <p class="card-text">This is very yummy and tasty half egg fried and checken fried Rice. </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img4.jpg" style="height: 290px;" alt="">
          <div class="card-body">
            <p class="card-text">It is also very spicy and tasty rice with type of chinese food and mixing with tomato
              also. You can first eat then tell.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img3.jpg" style="height: 290px;" alt="">
          <div class="card-body">
            <p class="card-text">This is famous type of full white chicken schezwan rice in daba family restaurants.It is also very spicy and tasty rice with type of chinese food and mixing with tomato.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img29.jpg" style="height: 320px;" alt="">
          <div class="card-body">
            <p class="card-text">It is also very spicy and tasty half egg fired rice.And its only veg fried rice.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img9.png" style="height: 290px;" alt="">
          <div class="card-body">
            <p class="card-text">It is also very spicy and tasty rice with type of chinese food and mixing with tomato and schewan also. You can first eat then tell.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img11.jpg" style="height: 290px;" alt="">
          <div class="card-body">
            <p class="card-text">It is also very spicy and tasty rice with type of chinese food and mixing with tomato
              also. You can first eat then tell.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img13.jpg" style="height: 290px;" alt="">
          <div class="card-body">
            <p class="card-text">It is also very spicy and tasty rice with type of chinese food and mixing with tomato
              also. You can first eat then tell.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img10.jpg" style="height: 290px;" alt="">
          <div class="card-body">
            <p class="card-text">It is also very spicy and tasty rice with type of chinese food and mixing with tomato and chicken also. You can first eat then tell.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img28.jpg" style="height: 290px;" alt="">
          <div class="card-body">
            <p class="card-text">It is also very spicy and tasty rice with type of chinese food and mixing with tomato and red chicken also. You can first eat then tell.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img30.jpg" style="height: 262px;" alt="">
          <div class="card-body">
            <p class="card-text">It is also very easy spicy and tasty rice with type of chinese food and mixing checken masala and burn chicken with small cut pieces of tomato also. You can first eat then tell.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img22.jpg" style="height: 290px;" alt="">
          <div class="card-body">
            <p class="card-text">It is also very easy spicy and tasty rice with type of chinese food and full veg rice with the fresh material. You can first eat then tell.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img23.jpg" style="height: 290px;" alt="">
          <div class="card-body">
            <p class="card-text">This is very easy spicy and tasty rice with schewan and mixing garlic, onion and tomato also. You can first eat then tell.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img24.jpg" style="height: 292px;" alt="">
          <div class="card-body">
            <p class="card-text">This is very spicy and tasty rice.Its very famous rice in tamilnadu and kerla.All peoples like of that rices.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img25.jpg" style="height: 246px;" alt="">
          <div class="card-body">
            <p class="card-text">This is very famous and favorite reciepes of the gujrat peoples. All peoples are liked of that fresh veg fried rice mixing with the small cut pieces of tomato, garlic, green onion, peas and also mixing juice of lemon.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/img6.jpg" style="height: 246px;" alt="">
          <div class="card-body">
            <p class="card-text">This is very famous and favorite reciepes of the gujrat peoples. All peoples are liked of that fresh veg fried rice mixing with the small cut pieces of tomato, garlic, green onion, peas and also mixing juice of lemon.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Add</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  style="border-color: darkgreen; border-width: 3px;">Buy</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->




<div class="section border-top  my-5" style="width: 500%; height: 0%;">
    <div class="container" style="margin-left: 2rem;">
      <div class="newsletter-section">
        
          <div class="align-centre">
        
  
            <div class="newsletter-section__text my-5">
              
                <h2>Subscribe to our Home &amp; Beyond Newsletter</h2>
              
              
                <div class="rte"><p>Learn about our artisans' world travels, get sneak peaks into our next collection, discover our favorite recipes and craft DIYs, and more!</p></div>
              
              <div id="mailing-list">
      <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer" /><input type="hidden" name="utf8" value="✓" />
        
          <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
          <div class="input-row inline-input-button">
            <input type="email" placeholder="Email address" class="required" value="" id="mailinglist_email" name="contact[email]" required />
            <input type="submit" value="Subscribe" />
          </div>
          
          <footer>
            <div class="container my-5">
              <div class="inline-row spaced">
              <div class="inline-item left">
                <div class="copy" style="margin-left: 32rem;">Copyright &copy; 2022 <a href="#" title=""><b>Vinay ChineseCenter</b></a>.</div>
              </div>
            </div>
          </footer>
        
      </form>
  </div>
            </div>
          </div>
  
          
      </div>
    </div>
  </div>
  
  
  </div>
  
</div>



{% endblock body %}